html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial,sans-serif;
    color: #363636;
    background-color: #FFFFFF;
    width: 100%;
    font-size: 17px;
}

header {
    width: 100%;
    display: block;
}

header .top {
    width: 100%;
    display: block;
    background: #FFFFFF;
}

header .top .container {
    max-width: 1250px;
    margin: 0px auto 0px;
    display: flex;
    align-items: center;
    /* height: 130px; */
}

header .logo {
    text-decoration: none;
    display: block;
}

Header .logo__img {
    height: 72px;
    
}

header .info-box {
    width: 330px;
    /* height: 90px; */
    display: block;
    margin-left: auto;
    text-align: right;
    margin-right: 60px;
    
}

header .info-box__text {
    color: #61582d;
    font-weight: 800;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;

}

header .info-box__number {
    color: #7ab13c;
    font-size: 2rem;
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 5px;
    text-decoration: none;
}

header .info-box__number:hover {
    color: #666666;
}

header .navbar {
    width: 100%;
    background: #61582d;
    display: flex;
    
}

header .navbar .container {
    max-width: 1300px;
    margin: 0px auto;
    display: block;
    height: 55px;
    align-items: center;
    padding-right: 150px;
}

header .menu {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    align-items: center;
    width: 1160px;
    margin-left: 90px;

}

header .menu__link {
    text-decoration: none;
    display: inline-block;
    /* margin: 0px 10px; */
}

header .menu__name {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    
}

header li {
    position: relative;
    list-style: none;
}

header .dropdown-menu {
    top: 100%;
    width: 220px;
    position: absolute;
    z-index: 10;
    display: none;
    background: rgb(97, 88, 45);
}

header .dropdown:hover > .dropdown-menu {
    display: block;
}

header .main-area {
    font-weight: bold;
    font-size: 16px;
    list-style-type: none;
    position: relative;
    left: -25px;
    display: inline-block;
    margin: 15px 0px 10px;
    color: #FFFFFF;
}

header .sub-area {
    list-style-type: none;
    position: relative;
    left: -30px;
    display: inline-block;
    margin: 4px 0px;
    font-weight: normal;
    text-transform: none;
    color: #FFFFFF;
}

.cover-screen {
    width: 100%;
    min-height: 683px;
    /* background: url(../img/test-bg.jpg) no-repeat center; */
    background: #696036;
    align-items: center;
    display: flex;
    border-bottom: solid #7ab13c 5px;
}

.cover-screen .container {
    max-width: 1160px;
    margin: 0px auto;
    display: block;
    text-align: center;
}

.cover-screen .title {
    color: #FFFFFF;
    text-align: center;
    /* line-height: 1.1; */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 4rem;
}

.cover-screen .button-to-contact {
    text-decoration: none;
    color: #FFFFFF;
    padding: 18px 30px;
    background: #7ab13c;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    display: inline-block;
    margin: 36px auto 0px;
    font-size: 19px;
    font-weight: bold;
}

.cover-screen .button-to-contact:hover {
    background: #666666;
}

.reason-screen {
    width: 100%;
    min-height: 1060px;
    display: flex;
    background: #FFFFFF;

}

.reason-screen .container {
    display: block;
    max-width: 1280px;
    margin: 60px auto 100px;

}

.reason-screen .block {
    width: 1180px;
    border: solid #dfdfdf 5px;
    border-left: solid #dfdfdf 3px;
    border-right: solid #dfdfdf 3px;
    border-bottom: solid #dfdfdf 3px;
    align-items: center;
    display: block;
    margin-right: 55px;;
    position: relative;
}

.reason-screen .block::after {
    background: #FFFFFF center;
    margin: 0px auto 5px;
    width: 980px;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    left: 95px;
}

.reason-screen .block .title {
    color: #61582d;
    font-size: 3rem;
    text-align: center;
    margin: 20px 80px 10px;
    line-height: 1.15;
    display: inline-block;
    position: relative;
}

.reason-screen .block .title::after {
    background: #7ab13c center;
    margin: 16px auto 5px;
    width: 60px;
    height: 5px;
    content: "";
    display: block;
}

/* .reason-screen .block .title::after {
    background: red center;
    margin: 36px auto 5px;
    width: 60px;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
} */

.reason-screen .text {
    color: #000000;
    line-height: 1.9;
    width: 980px;
    display: block;
    margin: 15px auto 45px;
    text-align: center;
    padding-right: 50px;
    font-size: 1.1rem;
}

.reason-screen .box {
    width: 1185px;;
    display: flex;
    justify-content: space-between;
}

.reason-screen .mini {
    display: block;
    width: 280px;
    border: 1.5px solid #e4e8e9;
    border-bottom: #7ab13c solid 5px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    
}


.reason-screen .mini__pic {
    display: block;
    height: min-content;
    margin: 40px auto 0px;

}


.reason-screen .mini__title {
    text-align: center;
    color: #61582d;
    line-height: 1.3;
    display: block;
    margin: 35px auto 15px;
    font-weight: 800;

}

.reason-screen .mini__title::after {
    background: #7ab13c center;
    margin: 16px auto 0px;
    width: 41px;
    height: 3px;
    content: "";
    display: block;
}


.reason-screen .mini__text {
    display: inline-block;
    margin: 5px 15px 25px;
    text-align: center;
    line-height: 1.7;
    margin-block-start: 0em;
    margin-block-end: 2em;
    font-size: 16px;
}

.testimonials-screen {
    display: block;
    min-height: 850px;
    width: 100%;
    background: #696036 center;
    text-align: center;
}

.testimonials-screen .title {
    display: inline-block;
    color: #FFFFFF;
    font-size: 3rem;
    margin: 125px auto 70px;
    letter-spacing: -2px;
}

.testimonials-screen .title::before {
    margin: 0px auto 0px;
    content: "“";
    display: block;
    color: #7ab13c;
    font-size: 0px;
    background-size: 200%;
}

.testimonials-screen .title::after {
    background: #7ab13c center;
    margin: 25px auto 0px;
    width: 60px;
    height: 5px;
    content: "";
    display: block;
    right: 20px;
    position: relative;
}

.testimonials-screen .carusel {
    display: flex;
    width: 1280px;
    margin: 0px auto 0px;
    align-items: center;
    /* justify-content: space-between; */
    padding-right: 50px;
}

.testimonials-screen .carusel__previous {
    width: 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem;
    display: block;
    text-decoration: none;
    padding-right: 25px;
    min-height: 461px;
}

.testimonials-screen .carusel-inner {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.testimonials-screen .comment {
    width: 567px;
    display: block;
    margin-bottom: 60px;

}

.testimonials-screen .comment__cloud {
    background: #FFFFFF;
    display: block;
    width: 100%;
    margin-bottom: 13px;
    position: relative;
    border: solid #7ab13a 2px;
    min-height: 276px;
    /* box-sizing: border-box; */
    margin-bottom: 80px;
}

.testimonials-screen .comment__cloud::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 240px;
    border-width: 55px;
    border-style: solid;
    border-color: #FFFFFF transparent transparent transparent;
}

.testimonials-screen .comment__stars {
    color: #7ab13c;
    text-align: center;
    display: block;
    margin: 50px auto 0px;
}

.testimonials-screen .comment__text {
    color: #000000;
    line-height: 1.9;
    text-align: center;
    font-style: italic;
    margin: 20px 35px 40px;
    display: block;
}

.testimonials-screen .comment__client-name {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 0px auto 0px;
    margin-block-start: 0em;
}

.testimonials-screen .comment__place {
    color: #FFFFFF;
    font-style: italic;
    text-align: center;
    display: block;
    margin: 5px auto 0px;
}

.testimonials-screen .carusel__next {
    width: 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem;
    display: block;
    text-decoration: none;
    padding-left: 25px;
    min-height: 461px;
}

.testimonials-screen .read-more {
    text-decoration: none;
    color: #FFFFFF;
    padding: 18px 30px;
    background: #7ab13c;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    margin: 0px auto 50px;
    font-size: 20px;
    font-weight: bold;
}

.testimonials-screen .read-more:hover {
    background: #666666;

}

.practices-screen {
    display: block;
    width: 100%;
    background: #FFFFFF;

}

.practices-screen .container {
    display: block;
    width: 100%;
    margin: 47px auto 95px;
}

.practices-screen .title {
    text-align: center;
    color: #61582d;
    display: block;
    font-size: 3rem;
    margin-bottom: 50px;
    letter-spacing: -2px;
}

.practices-screen .title::after {
    background: #7ab13c center;
    margin: 25px auto 0px;
    width: 60px;
    height: 6px;
    content: "";
    display: block;
    right: 20px;
    position: relative;
}

.practices-screen .wrap-box {
    display: flex;
    margin: 0px auto;
    max-width: 1209px;
    flex-wrap: wrap;
    position: relative;
    right: 16px;
}

.practices-screen .block-link {
    display: block;
    text-decoration: none;
    background: #f9f9f9;
    border: solid #ebebeb 1px;
    width: 33%;
    min-height: 340px;
    box-sizing: border-box;
}

.practices-screen .block-link:nth-child(even):hover {
    background: lightgrey;
}

.practices-screen .block-link:hover {
     background: lightgrey;
}

.practices-screen .block-link:nth-child(even) {
    background: #FFFFFF;
}

.practices-screen .block-link__pic {
    display: block;
    height: min-content;
    margin: 60px auto 16px;
}

.practices-screen .block-link__title {
    text-transform: uppercase;
    color: #000000;
    letter-spacing: -1px;
    text-align: center;
    margin: 0px 20px;
    display: block;
    font-size: 1rem;
}



.practices-screen .block-link__text {
    margin: 35px 50px;
    display: block;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    
}

.quotes-screen {
    width: 100%;
    display: block;
    height: 785px;
    background: #696036;
}

.quotes-screen .container {
    max-width: 1250px;
    align-items: center;
    margin: 0px auto;
    display: flex;
    height: 785px;
    position: relative;
}

.quotes-screen .box {
    display: block;
    background: #0000008c;
    height: 413px;
    width: 900px;
    position: relative;
    top: 5px;
}

.quotes-screen .box .content {
    display: block;
    margin: 55px 100px;
    width: 500px;
    
}

.quotes-screen .box .text {
    font-style: italic;
    color: #FFFFFF;
    line-height: 1.3;
    font-size: 1.2rem;
    display: inline-block;
    margin-block-end: 0.3em;
}

.quotes-screen .box .author {
    font-size: 1.5rem;
    color: #FFFFFF;
    display: inline-block;
    font-style: italic;
}

.quotes-screen .portrait {
    position: absolute;
    display: block;
    bottom: 0px;
    right: 90px;

}

.quotes-screen .portrait__pic {
    height: min-content;
    display: block;
    position: relative;
}

.phone-screen {
    width: 100%;
    background: #7ab13c;
    min-height: 400px;
    align-items: center;
    display: block;
}

.phone-screen .container {
    max-width: 1210px;
    display: block;
    margin: 0px auto;
    text-align: center;
}

.phone-screen .title {
    font-size: 3.8rem;
    text-align: center;
    display: inline-block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #FFFFFF;
    line-height: 1.1;
}

.phone-screen .text {
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-size: 1.7rem;
}

.phone-screen .link {
    color: #61582d;
    background: #FFFFFF;
    padding: 18px 30px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;

}

.phone-screen .link:hover {
    background: #666666;
}

.application-screen {
    width: 100%;
    display: block;
    background: #696036;
}

.application-screen .container {
    width: 705px;
    display: block;
    margin: 0px auto;
    text-align: center;
    position: relative;
    right: 15px;
}

.application-screen .title {
    display: inline-block;
    color: #FFFFFF;
    font-size: 3rem;
    margin: 60px auto 70px;
    letter-spacing: -2px;
}

.application-screen .title::after {
    background: #7ab13c center;
    margin: 20px auto 0px;
    width: 60px;
    height: 5px;
    content: "";
    display: block;
    /* right: 10px; */
    position: relative;

}

.application-screen .box-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.application-screen .block-form {
    width: 350px;
    margin-bottom: 12px;
    padding: 16px 13px 16px 15px;
    border: solid #FFFFFF 1px;
    border-radius: 10px;
    color: #FFFFFF;
    display: block;
    box-sizing: border-box;
    font-size: 0.9rem;
    
}

.application-screen .name-form {
    background: url() right no-repeat;
    background-position-y: center;
}

.application-screen .email-form {
    background: url() right no-repeat;
    background-position-y: center;
}

.application-screen .phone-form {
    background: url() right no-repeat;
    background-position-y: center;
}

.application-screen .subject-form {
    background: url() right no-repeat;
    background-position-y: center;
}

.application-screen .message-form {
    width: 100%;
    margin-bottom: 12px;
    background: #ffffff00;
    padding: 15px 15px 16px 15px;
    border: solid #FFFFFF 1px;
    border-radius: 10px;
    color: #FFFFFF;
    display: block;
    box-sizing: border-box;
    font-size: 0.9rem;
}

.application-screen .submit-form {
    width: 100%;
    text-align: center;
    background: #7ab13c;
    border-radius: 10px;
    padding: 16px 0px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    font-size: 1.05rem;
    font-weight: 600;
    border: 0px;
    margin-bottom: 100px;
}

.application-screen .submit-form:hover {
    background: #666666;
}

.badge-screen {
    width: 100%;
    display: block;
    background: #FFFFFF;
}

.badge-screen .container {
    max-width: 1160px;
    align-items: center;
    margin: 60px auto 80px;
    justify-content: space-between;
    display: flex;
    position: relative;
    right: 50px;

}

.badge-screen .box-link {
    text-decoration: none;
    display: block;
}

.badge-screen .box-link__pic {
    width: min-content;
}

footer {
    display: flex;
    background: #696036;
    width: 100%;

}

footer .container {
    width: 1170px;
    position: relative;
    right: 10px;
    margin: 0px auto;
    display: block;

}

footer .top-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
}

footer .contact-us {
    width: 305px;
    display: block;

}

footer .contact-us .title {
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    margin: 0px 0px 10px;
    font-size: 1.3rem;
}

footer .contact-us .title::after {
    background: #FFFFFF;
    margin: 14px 0px;
    width: 35px;
    height: 1px;
    content: "";
    display: block;
}

footer .contact-us__content {
    width: 190px;
    display: block;
}

footer .contact-us__item {
    display: flex;
    margin: 15px 0px 16px;
}

footer .contact-us__phone-number {
    margin: 31px 0px 22px;
}

footer .contact-us__pic {
    display: block;
    width: min-content;
    margin-right: 33px;
}

footer .contact-us__text {
    display: inline-block;
    line-height: 1.7;
    color: #FFFFFF;
    font-size: 0.7rem;
    margin-block-end: 0em;
    margin-block-start: 1em;
}

footer .contact-us__link {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.8rem;
}

footer .contact-us__way__link {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

footer .quick-links {
    display: block;
    width: 350px;
}

footer .quick-links .title {
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    margin: 0px 0px 19px;
    font-size: 1.3rem;
}

footer .quick-links .title::after {
    background: #FFFFFF;
    margin: 14px 0px;
    width: 35px;
    height: 1px;
    content: "";
    display: block;
}

footer .quick-links__box {
    display: flex;
    flex-direction: column;
    height: 200px;
    flex-wrap: wrap;
}

footer .quick-links__link {
    display: block;
    margin: 0px 60px 20px 0px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #FFFFFF;
}

footer .directions {
    display: block;

}

.directions__map iframe {
    width: 100%;
    height: 100%;
}

footer .directions .title {
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    margin: 0px 0px 15px;
    font-size: 1.3rem;
}

footer .directions__map {
    width: 380px;
    height: 230px;
    background: #FFFFFF;
    display: block;
    border: 0px;
}

footer .bottom-box {
    display: block;
    max-width: 1110px;
    margin: 51px auto 50px;

}

footer .bottom-box .text {
    color: #FFFFFF;
    line-height: 1.85;
    text-align: center;
    margin-bottom: 29px;
    font-size: 0.8rem;
}

footer .bottom-box .information {
    color: #FFFFFF;
    text-align: center;
    font-size: 0.7rem;
}

footer .bottom-box .information__link {
    text-decoration: none ;
    color: #FFFFFF;
}