@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400|Roboto:300,300i,400,400i,500|Oswald:300,400,500&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial,sans-serif;
    color: #363636;
    background-color: #FFFFFF;
    width: 100%;
    font-size: 17px;
}

body {
    font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
}

.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.icon_arrow {
    background-image: url(../img/icons/arrow.svg);
}

.icon_phone {
    background-image: url(../img/icons/phone.svg);
    vertical-align: top;
    margin-right: 10px;
}

header {
    width: 100%;
    display: block;
}

.top {
    width: 100%;
    display: block;
    background: #FFFFFF;
    padding: 16px 0;
    font-family: 'Oswald', sans-serif;
}

header .top .container {
    max-width: 1250px;
    margin: 0px auto 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 130px; */
}

header .logo {
    text-decoration: none;
    display: block;
}

Header .logo__img {
    height: 72px;
    
}

.info-box {
    max-width: 340px;
    /* height: 90px; */
    display: block;
    text-align: right;
    margin-right: 60px;
    line-height: 1.2;    
}

.info-box__text {
    color: #61582d;
    font-weight: 800;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 22px;
}

header .info-box__number {
    color: #7ab13c;
    font-size: 2rem;
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 5px;
    text-decoration: none;
}

header .info-box__number:hover {
    color: #666666;
}

header .navbar {
    width: 100%;
    background: #61582d;
    display: flex;
    
}

header .navbar .container {
    max-width: 1160px;
    width: 100%;
    margin: 0px auto;
    display: block;
    height: 55px;
    align-items: center;
}

header .menu {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    align-items: center;
    width: 100%;
}

header .menu__link {
    text-decoration: none;
    display: inline-block;
    /* margin: 0px 10px; */
}

header .menu__name {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    
}

header li {
    position: relative;
    list-style: none;
}

header .dropdown-menu {
    top: 100%;
    width: 220px;
    position: absolute;
    z-index: 10;
    display: none;
    background: rgb(97, 88, 45);
}

header .dropdown:hover > .dropdown-menu {
    display: block;
}

header .main-area {
    font-weight: bold;
    font-size: 16px;
    list-style-type: none;
    position: relative;
    left: -25px;
    display: inline-block;
    margin: 15px 0px 10px;
    color: #FFFFFF;
}

header .sub-area {
    list-style-type: none;
    position: relative;
    left: -30px;
    display: inline-block;
    margin: 4px 0px;
    font-weight: normal;
    text-transform: none;
    color: #FFFFFF;
}

.cover-screen {
    width: 100%;
    /* background: url(../img/test-bg.jpg) no-repeat center; */
    background: #696036;
    padding-top: 213px;
    padding-bottom: 213px;
    border-bottom: solid #7ab13c 5px;
}

.cover-screen .container {
    max-width: 1160px;
    margin: 0px auto;
    display: block;
    text-align: center;
}

.cover-screen .title {
    color: #FFFFFF;
    text-align: center;
    /* line-height: 1.1; */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 4rem;
    font-weight: 400;
}

.cover-screen .button-to-contact {
    text-decoration: none;
    color: #FFFFFF;
    padding: 18px 30px;
    background: #7ab13c;
    border-radius: 50px;
    box-sizing: border-box;
    text-transform: uppercase;
    display: inline-block;
    margin: 36px auto 0px;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
}

.cover-screen .button-to-contact:hover {
    background: #666666;
}

.reason-screen {
    width: 100%;
    min-height: 1060px;
    display: flex;
    background: #FFFFFF;

}

.reason-screen .container {
    display: block;
    max-width: 1280px;
    margin: 60px auto 100px;

}

.reason-screen .block {
    width: 100%;
    max-width: 1180px;
    border: solid #dfdfdf 4px;
    align-items: center;
    display: block;
    position: relative;
}

.reason-screen .block::after {
    background: #FFFFFF center;
    width: 83%;
    height: 6px;
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.reason-screen .block .title {
    color: #61582d;
    font-size: 3rem;
    text-align: center;
    margin: 20px 80px 10px;
    line-height: 1.15;
    display: inline-block;
    position: relative;
}

.reason-screen .block .title::after {
    background: #7ab13c center;
    margin: 16px auto 5px;
    width: 60px;
    height: 5px;
    content: "";
    display: block;
}

.reason-screen .text {
    color: #000000;
    line-height: 1.9;
    width: 100%;
    max-width: 980px;
    display: block;
    margin: 15px auto 45px;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Lato';
    font-weight: 300;
}

.reason-screen .box {
    width: 100%;
    max-width: 1185px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.reason-screen .mini {
    width: 25%;
    padding: 0 8px;
    min-height: 100%;
    box-sizing: border-box;
}

.reason-screen .mini-wrapper {
    display: block;
    height: 100%;
    width: 100%;
    border: 1.5px solid #e4e8e9;
    border-bottom: #7ab13c solid 5px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
}


.reason-screen .mini__pic {
    display: block;
    height: min-content;
    margin: 40px auto 0px;

}


.reason-screen .mini__title {
    text-align: center;
    color: #61582d;
    line-height: 1.3;
    display: block;
    margin: 35px auto 15px;
    font-weight: 800;

}

.reason-screen .mini__title::after {
    background: #7ab13c center;
    margin: 16px auto 0px;
    width: 41px;
    height: 3px;
    content: "";
    display: block;
}

.reason-screen .mini__text {
    display: inline-block;
    margin: 5px 15px 25px;
    text-align: center;
    line-height: 1.7;
    margin-block-start: 0em;
    margin-block-end: 2em;
    font-size: 16px;
}

.testimonials-screen {
    display: block;
    width: 100%;
    background: #696036 center;
    text-align: center;
}

.testimonials-screen .title {
    display: inline-block;
    color: #FFFFFF;
    font-size: 3rem;
    margin: 44px auto 70px;
    letter-spacing: -2px;
}

.testimonials-screen .title::before {
    margin: 0px auto 0px;
    content: "“";
    display: block;
    color: #7ab13c;
    font-size: 0px;
    background-size: 200%;
    background: url(../img/icons/quote-green.svg) center no-repeat;
    background-size: contain;
    height: 68px;
    margin-bottom: 10px;
}

.testimonials-screen .title::after {
    background: #7ab13c center;
    margin: 25px auto 0px;
    width: 60px;
    height: 5px;
    content: "";
    display: block;
    position: relative;
}

.testimonials-screen .carusel {
    display: flex;
    max-width: 1280px;
    margin: 0px auto 0px;
    align-items: center;
    position: relative;
}

.carusel-wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 94.85%;
}

.testimonials-screen .carusel-inner {
    display: flex;
    margin: 0 auto;
}

.testimonials-screen .comment {
    /*width: 567px;*/
    width: 50%;
    display: block;
    margin-bottom: 60px;
    flex-shrink: 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.testimonials-screen .comment__cloud {
    background: #FFFFFF;
    display: block;
    width: 100%;
    margin-bottom: 13px;
    position: relative;
    border: solid #7ab13a 2px;
    min-height: 276px;
    margin-bottom: 80px;
    font-weight: 300;
}

.testimonials-screen .comment__cloud::after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: solid #7ab13a 2px;
    border-right: solid #7ab13a 2px;
    height: 52px;
    width: 52px;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 1;
    transform: rotate(45deg) skew(10deg, 10deg) translate(-15px, 50px);
}

.testimonials-screen .comment__stars {
    color: #7ab13c;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0px;
    width: 152px;
    height: 26px;
}

.comment__star {
    background: url(../img/icons/star.svg) no-repeat center;
    background-size: contain;
    display: block;
    width: 30px;
    height: 100%;
}

.comment__star_off {
    background-image: url(../img/icons/no-star.svg);
}

.testimonials-screen .comment__text {
    color: #000000;
    line-height: 1.9;
    text-align: center;
    font-style: italic;
    margin: 20px 35px 40px;
    display: block;
    letter-spacing: 1px;
}

.testimonials-screen .comment__client-name {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 0px auto 0px;
    margin-block-start: 0em;
    letter-spacing: 2px;
    font-size: 18px;
}

.testimonials-screen .comment__place {
    color: #FFFFFF;
    font-style: italic;
    text-align: center;
    display: block;
    margin: 5px auto 0px;
    font-weight: 300;
    font-size: 16px;
}

.carusel__nav {
    background: url(../img/icons/arrow.svg) no-repeat center;
    background-size: contain;
    display: block;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 24%;
}

.carusel__prev {
    transform: rotate(180deg);
    left: 0;
}

.carusel__next {
    right: 0;
}

.testimonials-screen .read-more {
    text-decoration: none;
    color: #FFFFFF;
    padding: 18px 30px;
    background: #7ab13c;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    margin: 0px auto 50px;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: .7px;
}

.testimonials-screen .read-more:hover {
    background: #666666;

}

.practices-screen {
    display: block;
    width: 100%;
    background: #FFFFFF;

}

.practices-screen .container {
    display: block;
    width: 100%;
    margin: 47px auto 95px;
}

.practices-screen .title {
    text-align: center;
    color: #61582d;
    display: block;
    font-size: 3rem;
    margin-bottom: 50px;
    letter-spacing: -2px;
}

.practices-screen .title::after {
    background: #7ab13c center;
    margin: 25px auto 0px;
    width: 60px;
    height: 6px;
    content: "";
    display: block;
    position: relative;
}

.practices-screen .wrap-box {
    display: flex;
    margin: 0px auto;
    max-width: 1209px;
    flex-wrap: wrap;
    position: relative;
}

.practices-screen .block-link {
    display: block;
    text-decoration: none;
    background: #f9f9f9;
    border: solid #ebebeb 1px;
    width: 33%;
    min-height: 340px;
    box-sizing: border-box;
}

.practices-screen .block-link:nth-child(even):hover {
    background: lightgrey;
}

.practices-screen .block-link:hover {
     background: lightgrey;
}

.practices-screen .block-link:nth-child(even) {
    background: #FFFFFF;
}

.practices-screen .block-link__pic {
    display: block;
    height: min-content;
    margin: 60px auto 16px;
}

.practices-screen .block-link__title {
    text-transform: uppercase;
    color: #000000;
    letter-spacing: -1px;
    text-align: center;
    margin: 0px 20px;
    display: block;
    font-size: 1rem;
}



.practices-screen .block-link__text {
    margin: 35px 50px;
    display: block;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;    
}

.quotes-screen {
    width: 100%;
    display: block;
    background: #696036;
}

.quotes-screen__container {
    max-width: 1250px;
    align-items: center;
    margin: 0px auto;
    display: flex;
    position: relative;
    padding-top: 188px;
    padding-bottom: 185px;
}

.quotes-screen .box {
    display: block;
    background: #0000008c;
    /* height: 413px; */
    width: 72%;
    position: relative;
    top: 5px;
}

.quotes-screen .box::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 20px;
    height: 0;
    height: 100px;
    width: 100px;
    background: url(../img/icons/quote-grey.svg) no-repeat center;
    background-size: contain;
    opacity: .2;
}

.quotes-screen .box .content {
    display: block;
    margin: 55px 100px;
    width: 55.5%;
    font-family: 'Lato';
    font-weight: 300;
}

.quotes-screen .box .text {
    font-style: italic;
    color: #FFFFFF;
    line-height: 1.3;
    font-size: 1.2rem;
    display: inline-block;
    margin-block-end: 0.3em;
}

.quotes-screen .box .author {
    font-size: 1.5rem;
    color: #FFFFFF;
    display: inline-block;
    font-style: italic;
}

.quotes-screen .portrait {
    position: absolute;
    display: block;
    bottom: 0px;
    right: 7%;
    width: 42.7%;
}

.quotes-screen .portrait__pic {
    height: min-content;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.phone-screen {
    width: 100%;
    background: #7ab13c;
    padding-bottom: 59px;
    display: block;
}

.phone-screen .container {
    max-width: 1210px;
    display: block;
    margin: 0px auto;
    text-align: center;
    padding-top: 60px;
}

.phone-screen .title {
    font-size: 3.8rem;
    text-align: center;
    display: inline-block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #FFFFFF;
    line-height: 1.1;
    font-weight: 400;
    font-weight: 400;
    font-size: 3.5rem;
    letter-spacing: 2px;
    line-height: 1.2;
}

.phone-screen .text {
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-family: Oswald;
    font-size: 1.5rem;
    letter-spacing: 1.4px;
}

.phone-screen .link {
    color: #61582d;
    background: #FFFFFF;
    padding: 18px 30px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    letter-spacing: .7px;
}

.phone-screen .link:hover {
    background: #666666;
}

.application-screen {
    width: 100%;
    display: block;
    background: #696036;
}

.application-screen .container {
    max-width: 705px;
    display: block;
    margin: 0px auto;
    text-align: center;
    position: relative;
}

.application-screen .title {
    display: inline-block;
    color: #FFFFFF;
    font-size: 3rem;
    margin: 60px auto 70px;
    letter-spacing: -2px;
}

.application-screen .title::after {
    background: #7ab13c center;
    margin: 20px auto 0px;
    width: 60px;
    height: 5px;
    content: "";
    display: block;
    /* right: 10px; */
    position: relative;

}

.application-screen .box-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.application-screen .block-form {
    width: 49%;
    margin-bottom: 12px;
    padding: 16px 13px 16px 15px;
    border: solid #FFFFFF 1px;
    border-radius: 10px;
    color: #fefdfa;
    display: block;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-family: Lato;
    background-color: transparent;
    background-position-y: center;
    background-position-x: 97%;
    background-size: 20px;
    background-repeat: no-repeat;
    font-weight: 200;
}

.block-form::placeholder {
    color: inherit;
}

.application-screen .name-form {
    background-image: url(../img/icons/avatar.svg);
}

.application-screen .email-form {
    background-image: url(../img/icons/mail.svg);
}

.application-screen .phone-form {
    background-image: url(../img/icons/phone-call.svg);
    background-size: 22px;
}

.application-screen .subject-form {
    background-image: url(../img/icons/document.svg);
    background-size: 22px;
}

.application-screen .message-form {
    width: 100%;
    margin-bottom: 12px;
    background: #ffffff00;
    padding: 15px 15px 16px 15px;
    border: solid #FFFFFF 1px;
    border-radius: 10px;
    color: #FFFFFF;
    display: block;
    box-sizing: border-box;
    font-size: 0.9rem;
    color: #fefdfa;
    font-weight: 200;
    font-family: Lato;
}

.application-screen .message-form::placeholder {
    color: inherit;
}

.application-screen .submit-form {
    width: 100%;
    text-align: center;
    background: #7ab13c;
    border-radius: 10px;
    padding: 16px 0px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0px;
    margin-bottom: 100px;
    padding-left: 50px;
}

.application-screen .submit-form:hover {
    background: #666666;
}

.badge-screen {
    width: 100%;
    display: block;
    background: #FFFFFF;
}

.badge-screen .container {
    max-width: 1160px;
    align-items: center;
    margin: 60px auto 80px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.badge-screen .box-link {
    text-decoration: none;
    display: block;
}

.badge-screen .box-link__pic {
    width: min-content;
}

footer {
    display: flex;
    background: #696036;
    width: 100%;

}

footer .container {
    width: 100%;
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
    display: block;

}

footer .top-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
}

footer .contact-us {
    width: 305px;
    display: block;

}

footer .contact-us .title {
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    margin: 0px 0px 10px;
    font-size: 1.2rem;
}

footer .contact-us .title::after {
    background: #FFFFFF;
    margin: 14px 0px;
    width: 35px;
    height: 1px;
    content: "";
    display: block;
}

footer .contact-us__content {
    width: 190px;
    display: block;
}

footer .contact-us__item {
    display: flex;
    align-items: flex-start;
}

footer .contact-us__address {
    margin-top: 24px;
}

footer .contact-us__email,
footer .contact-us__phone-number {
    align-items: center;
    margin-top: 11px;
}

footer .contact-us__phone-number {
    margin: 31px 0px 22px;
}

footer .contact-us__pic {
    display: block;
    width: min-content;
    margin-right: 12px;
    width: 23px;
}

footer .contact-us__text {
    display: inline-block;
    line-height: 1.7;
    color: #FFFFFF;
    font-size: 0.8rem;
    margin: 0;
}

footer .contact-us__link {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.8rem;
}

footer .contact-us__way__link {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

footer .quick-links {
    display: block;
    width: 350px;
}

footer .quick-links .title {
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    margin: 0px 0px 19px;
    font-size: 1.3rem;
}

footer .quick-links .title::after {
    background: #FFFFFF;
    margin: 14px 0px;
    width: 35px;
    height: 1px;
    content: "";
    display: block;
}

footer .quick-links__box {
    display: flex;
    flex-direction: column;
    height: 200px;
    flex-wrap: wrap;
}

footer .quick-links__link {
    display: block;
    margin: 0px 60px 20px 0px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #FFFFFF;
}

footer .directions {
    display: block;
    width: 380px;

}

.directions__map iframe {
    width: 100%;
    height: 100%;
}

footer .directions .title {
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    margin: 0px 0px 15px;
    font-size: 1.3rem;
}

footer .directions__map {
    width: 100%;
    height: 230px;
    background: #FFFFFF;
    display: block;
    border: 0px;
}

footer .bottom-box {
    display: block;
    max-width: 1110px;
    margin: 51px auto 50px;

}

footer .bottom-box .text {
    color: #FFFFFF;
    line-height: 1.85;
    text-align: center;
    margin-bottom: 29px;
    font-size: 0.8rem;
}

footer .bottom-box .information {
    color: #FFFFFF;
    text-align: center;
    font-size: 0.7rem;
}

footer .bottom-box .information__link {
    text-decoration: none ;
    color: #FFFFFF;
}


/* index-faq */


.faq__cover-screen {
    width: 100%;
    height: 295px;
    display: flex;
    border-bottom: 5px solid #7ab13c;
    background: url();
    align-items: center;
}

.faq__cover-screen .container {
    display: block;
    width: 100%;
    text-align: center;
}

.faq__cover-screen .title {
    display: inline-block;
    /* color: #FFFFFF; */
    color: #000000;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 3.9rem;
    font-weight: 400;
    position: relative;
    right: 30px;
    bottom: 12px;
}

.faq__main-screen {
    width: 100%;
    display: block;
    background: #FFFFFF;
}

.faq__main-screen .container {
    max-width: 1250px;
    display: block;
    margin: 20px auto 210px;
}

.faq__main-screen .center-box {
    display: flex;
    width: 100%;
}

.faq__main-screen .left-box {
    width: 853px;
    display: block;
    margin-right: auto;
    margin-top: 35px;
}

.faq__main-screen .breadcrumbs {
    margin: 0px 0px 45px;
    padding-inline-start: 0px;
}

.faq__main-screen .breadcrumbs__item {
    display: inline-block;
}

.faq__main-screen .breadcrumbs__link {
    text-decoration: none;
    color: #777777;
    font-size: 0.7rem;
}

.faq__main-screen .breadcrumbs__item + .breadcrumbs__item::before {
    content: '/';
    padding: 0px 5px;
}

.faq__main-screen .accordion {
    width: 100%;
    display: block;
}

.faq__main-screen .tab {
    border: solid #ebebeb 1px;
    color: #000000;
    margin-bottom: 15px;
    box-sizing: border-box;
    background: #F9F9FA;
}

.faq__main-screen .tab input {
    display: none; 
}

.faq__main-screen .tab__content {
    display: none; 
}
    
.faq__main-screen .tab__title {
    padding: 15px 20px;
    display: block;
    cursor: pointer;
    font-weight: 500;
}

.faq__main-screen .tab__title::after {
    content: '^';
    float: right;
    rotate: 180deg;
}

.faq__main-screen .tab__content {
    padding: 3px 30px 10px 20px;
    color: #656565;
    line-height: 2;
    background: #FFFFFF;
    border-top: 1px solid #ebebeb;
}

.faq__main-screen .tab :checked + .tab__title {
    background-color: #FFFFFF;
}

.faq__main-screen .tab :checked + .tab__title::after {
    content: '^';
}

.faq__main-screen .tab :checked ~ .tab__content {
    display: block;
}

.faq__main-screen .right-box {
    width: 315px;
    display: block;
}

.faq__main-screen .heading {
    color: #61582d;
    display: block;
    margin-bottom: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.2rem;
}


.testimonials__cover-screen {
    width: 100%;
    height: 295px;
    display: flex;
    border-bottom: 5px solid #7ab13c;
    background: url();
    align-items: center;
}

.testimonials__cover-screen .container {
    display: block;
    width: 100%;
    text-align: center;
}

.testimonials__cover-screen .title {
    display: inline-block;
    /* color: #FFFFFF; */
    color: #000000;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 3.9rem;
    font-weight: 400;
    position: relative;
    right: 30px;
    bottom: 12px;

}

.testimonials__main-screen {
    width: 100%;
    display: block;
    background: #FFFFFF;
}

.testimonials__main-screen .container {
    max-width: 1250px;
    display: block;
    margin: 20px auto 210px;
}

.testimonials__main-screen .center-box {
    display: flex;
    width: 100%;
}

.testimonials__main-screen .left-box {
    width: 853px;
    display: block;
    margin-right: auto;
    margin-top: 35px;
}

.testimonials__main-screen .breadcrumbs {
    margin: 0px 0px 45px;
    padding-inline-start: 0px;
}

.testimonials__main-screen .breadcrumbs__item {
    display: inline-block;
}

.testimonials__main-screen .breadcrumbs__link {
    text-decoration: none;
    color: #777777;
    font-size: 0.7rem;
}

.testimonials__main-screen .breadcrumbs__item + .breadcrumbs__item::before {
    content: '/';
    padding: 0px 5px;
}

.testimonials__main-screen .quote-block {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ebebeb;
    display: block;
    border-radius: 15px;
    background: url(..//img/icons/quote-light-grey1.png) no-repeat top left;
    background-size: 70px;
    background-position: 30px 20px;
}

.testimonials__main-screen .quote-block__content {
    margin: 60px 40px 30px 70px;
    display: block;
}

.testimonials__main-screen .quote-block__text {
     font-style: italic;
     line-height: 1.9;

}

.testimonials__main-screen .quote-block__author {
    font-weight: bold;
    margin-top: 30px;
    display: block;
    margin-block-end: 0em;

}

.testimonials__main-screen .quote-block__ocupation {
    font-style: italic;
    margin-block-start: 0em;
    color: #9f9f9f;
    margin-top: 10px;
    display: block;
    font-size: 1.2rem;
}

.right-box {
    width: 25%;
    display: block;
}

.right-box__heading {
    color: #61582d;
    display: block;
    margin-bottom: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.2rem;
}

.side-menu {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    background: #F9F9FA;
    display: block;
    margin-bottom: 21px;
    margin-top: 10px;
}

.side-menu ul {
    padding-inline-start: 0px;
    list-style: none;
}

.side-menu li {
    padding-inline-start: 0px;
    list-style: none;
}

.side-menu__list {
    margin: 18px 20px 0px;
    font-size: 0.9rem;
}

.side-menu__link {
    text-decoration: none;
}

.side-menu__main-area {
    color: #000000;
    font-weight: bold;
    margin-bottom: 12px;
    display: inline-block;
}

.side-menu__sub-area {
    margin-bottom: 14px;
    display: inline-block;
    color: #656565;
}

.right-box__link {
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px 0px;
    background: #7ab13c;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

/* about-us page */

.about-us__cover-screen {
    width: 100%;
    height: 295px;
    display: flex;
    border-bottom: 5px solid #7ab13c;
    background: url();
    align-items: center;
}

.about-us__cover-screen .container {
    display: block;
    width: 100%;
    text-align: center;
}

.about-us__cover-screen .title {
    display: inline-block;
    /* color: #FFFFFF; */
    color: #000000;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 3.9rem;
    font-weight: 400;
    position: relative;
    bottom: 12px;

}

.about-us__main-screen {
    width: 100%;
    display: block;
    background: #FFFFFF;
}

.about-us__main-screen .container {
    max-width: 1250px;
    display: block;
    margin: 20px auto 210px;
}

.about-us__main-screen .center-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.about-us__main-screen .left-box {
    width: 68%;
    display: block;
    margin-top: 14px;
}

.about-us__main-screen .breadcrumbs {
    margin: 0px 0px 45px;
    padding-inline-start: 0px;
}

.about-us__main-screen .breadcrumbs__item {
    display: inline-block;
}

.about-us__main-screen .breadcrumbs__link {
    text-decoration: none;
    color: #777777;
    font-size: 0.7rem;
}

.about-us__main-screen .breadcrumbs__item + .breadcrumbs__item::before {
    content: '/';
    padding: 0px 5px;
}

.about-us__main-screen .bio-box {
    display: flex;
    width: 100%;
    margin-bottom: 38px;
}

.about-us__main-screen .bio-box__portrait {
    display: block;
    margin-right: 28px;
    /*width: 34%;*/
    width: 350%;
    height: min-content;
}

.about-us__main-screen .bio-box__portrait img {
    max-width: 100%;
    height: auto;
    border: solid 8px #e0e0e0;
    display: block;
}

.about-us__main-screen .bio-box__content-box {
    /* width: 300px; */
    display: block;
}

.about-us__main-screen .bio-box__name {
    color: #61582d;
    display: inline-block;
    margin-bottom: 11px;
    margin-block-start: 0em;
    font-size: 1.2rem;
}

.about-us__main-screen .bio-box__text {
    display: inline-block;
    line-height: 1.95;
    font-weight: 500;
    margin-bottom: 39px;
    width: 100%;
    margin-block-start: 0em;
}

.about-us__main-screen .experience-box {
    display: block;
    width: 100%;
}

.about-us__main-screen .experience-box__list {
    padding-inline-start: 0px;
    list-style: none;
}

.about-us__main-screen .experience-box__main-item {
    padding-inline-start: 0px;
    list-style: none;
    font-size: 1.14rem;
    margin-bottom: 16px;
    display: block;
}

.about-us__main-screen .experience-box__main-item + ul {
    padding-inline-start: 0px;
    margin-bottom: 38px;
}

.about-us__main-screen .experience-box__sub-item {
    padding-inline-start: 0px;
    list-style: none;
    font-size: 0.9rem;
    display: block;
    margin-bottom: 17px;
}


@media screen and (max-width: 1270px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    .quotes-screen__container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 1068px) {
    footer .top-box {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    footer .directions {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 928px) {
    .quotes-screen .portrait {
        display: none;
    }

    .quotes-screen .box {
        width: 100%;
    }

    .quotes-screen .box .content {
        width: initial;
    }
}

@media screen and (max-width: 850px) {
    header .menu {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    html,
    body {
        font-size: 15px;
    }
    
    .practices-screen .block-link {
        width: 50%;
    }

    .practices-screen .block-link:nth-child(3) {
        background: #FFFFFF;
    }

    .practices-screen .block-link:nth-child(4) {
        background-color: #f9f9f9;
    }

    .testimonials-screen .comment {
        width: 100%;
    }

    .reason-screen .mini {
        width: 50%;
        padding-bottom: 20px;
    }

    header .logo__img {
        height: 46px;
    }

    .info-box__text {
        font-size: 18px;
    }

    .about-us__main-screen .center-box {
        flex-direction: column-reverse;
    }

    .right-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .about-us__main-screen .left-box {
        width: 100%;
    }

    .about-us__main-screen .container {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 600px) {
    .info-box {
        text-align: left;
    }

    header .top .container {
        display: block;
    }

    header .logo {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
    html, body {
        font-size: 13px;
    }

    .cover-screen {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .cover-screen .title {
        font-size: 2rem;
    }

    .cover-screen .button-to-contact {
        font-size: 14px;
    }

    .practices-screen .wrap-box {
        display: block;
    }

    .practices-screen .block-link {
        width: 100%;
        background-color: #f9f9f9 !important;
    }

    .practices-screen .block-link:nth-child(even) {
        background: #FFFFFF !important;
    }

    .application-screen .block-form {
        width: 100%;
    }

    .badge-screen .container {
        justify-content: center;
    }

    .badge-screen .box-link {
        margin-bottom: 15px;
    }

    footer .quick-links {
        margin-top: 20px;
    }

    .reason-screen .mini {
        width: 100%;
    }

    .reason-screen .block {
        box-sizing: border-box;
    }

    .reason-screen .block .title {
        margin: 10px;
        font-size: 2rem;
    }

    .testimonials-screen .title {
        font-size: 2rem;
    }

    .testimonials-screen .title::before {
        height: 40px;
    }

    .testimonials-screen .comment__text {
        margin: 15px;
    }

    .testimonials-screen .comment__stars {
        margin-top: 20px;
    }

    .testimonials-screen .comment__cloud {
        min-height: initial;
        padding-bottom: 23px;
    }

    .testimonials-screen .comment__cloud::after {
        height: 40px;
        width: 40px;
        transform: rotate(45deg) skew(10deg, 10deg) translate(-10px, 37px);
    }

    .testimonials-screen .comment {
        margin-bottom: 40px;
    }

    .testimonials-screen .comment__client-name {
        font-size: 14px;
    }

    .testimonials-screen .comment__place {
        font-size: 12px;
    }

    .testimonials-screen .read-more {
        font-size: 14px;
    }

    .carusel__nav {
        height: 25px;
        width: 25px;
    }

    .practices-screen .title {
        font-size: 2rem;
    }

    .quotes-screen .box::before {
        top: 10px;
        left: 10px;
        height: 50px;
        width: 50px;
    }

    .quotes-screen .box .content {
        margin: 15px;
    }

    .phone-screen .title {
        font-size: 2rem;
    }

    .phone-screen .link {
        font-size: 14px;
    }

    .application-screen .title {
        font-size: 2rem;
    }

    .application-screen .submit-form {
        padding-left: 4%;
        margin-bottom: 40px;
    }

    .badge-screen .container {
        margin-bottom: 30px;
    }

    footer .top-box {
        margin-top: 30px;
    }

    .about-us__main-screen .bio-box__portrait {
        display: none;
    }

    .right-box__link {
        font-size: 14px;
    }

    .about-us__cover-screen {
        height: 150px;
    }
}